body {
  background-color: rgb(245, 122, 51);
  color: navy;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  border: 1px black solid;
  margin: 2px;
  position: relative;
}

.container, img {
  background-size: 320px 320px;
  height: 320px;
  width: 320px;
}

.textInput {
  color: purple;
}
  
.memeText {
  color: white;
  bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  position: absolute;
}
