.memeImageContainer{
    background-color: white;
    border: 1px black solid;
    position: absolute;
    height: 400px;
    margin-left: 10px;
    width: 500px;
    padding: 0;
  }


  .memeImage{
    height: 398px;
    margin: 1px;
    padding: 0;
    width: 498px;
    z-index: 0;
  }
  
  
  #meme-text{
    bottom: 3px;
    color: white;
    font-size: 30px;
    left: 20px;
    padding: 2px 4px;
    position: absolute;
    text-align: center;
    top: 350px;
    text-shadow: 5px 5px 5px black;
    width: 450px;
    height: 100px;
    word-wrap: break-word;
    z-index: 1;
  }
  

  #images{
    margin-left: 10px;
    padding-top: 10px;
  }


